<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="ARKHE OS Command Modules" Version="1.0.0.0"
             Manufacturer="ARKHE Foundation" UpgradeCode="ARKHE-OS-COMMAND-MODULES">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Complete" Title="ARKHE OS Command Modules" Display="expand" Level="1">
            <ComponentGroupRef Id="HarvestedComponents" />
        </Feature>

        <Fragment>
            <Directory Id="TARGETDIR" Name="SourceDir">
                <Directory Id="ProgramFilesFolder">
                    <Directory Id="INSTALLFOLDER" Name="Arkhe" />
                </Directory>
            </Directory>
        </Fragment>
    </Product>
</Wix>
